# ============================================================
# === KONFIGURASI BOT ===
# ============================================================

# Token bot
BOT_WORKER_1=token_here

BOT_WORKER_2=token_here

BOT_WORKER_3=token_here

# Chat target untuk broadcast
CHAT_ID_TARGET=123456789

# Chat admin utama (opsional, untuk flood alert)
CHAT_ID_ADMIN=987654321

# Source Chat
ALLOWED_SOURCE_CHATS=1234

# ============================================================
# === KONFIGURASI ADMIN ===
# ============================================================
# Daftar superadmin (pisahkan dengan koma jika lebih dari satu)
SUPERADMINS=1234

# Daftar moderator (pisahkan dengan koma)
MODERATORS=5678,9999

# ============================================================
# === KONFIGURASI REDIS ===
# ============================================================
REDIS_HOST=your_redis_host_here
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

